:root{
    --base-color: #aac418;
    --secondary-color: #778a0f;
    --box-color: #d8ee5e;
    --text-color: #3e4902;
    --base-shadow: #727e2d;
    --base-highlight: #b9d610;
}

.darkmode{
    --base-color: #454e0f ;
    --secondary-color: #475209;
    --box-color: #252b05;
    --text-color: #c1d83c;
    --base-shadow: #292e10;
    --base-highlight: #859917;
}

body{
    background: var(--base-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#weather-container{
    background: var(--box-color);
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 var(--base-shadow);
    backdrop-filter: blur(10px);
    border: 1px solid var(--base-shadow);
}

h2, label, p{
    margin: 8px 0;
    color: var(--text-color);
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--base-highlight);
    margin-top: 20px;
    color: var(--text-color);
    background: var(--box-color);
}

button{
    background: var(--base-color);
    color: var(--text-color);
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover{
    background: var(--base-highlight);
}

#temp-div p{
    font-size: 60px;
    margin-top: -30px;
}

#weather-info{
    font-size: 20px;
}

#weather-icon{
    width: 200px;
    height: 200px;
    margin:0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#hourly-forecast{
    scrollbar-color: var(--base-color) var(--box-color);
    scrollbar-width: thin;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-between;
    margin-top: 50px;
    display: flex;
}

.hourly-item{
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction : column;
    align-items: center;
    margin-right: 10px;
    color: var(--text-color);
}

.hourly-item img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading{
    color: var(--text-color);
    margin-top: 10px;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--box-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#theme-switch svg{
    fill: var(--base-color);
}

#theme-switch svg:hover{
    fill: var(--base-highlight);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}